html, body {
    height: 100%;
}

.tweet {
    border: 1px solid #c7c7cd;
    border-top: none;
    background-color: white;
    color: rgb(97, 97, 97);
    -webkit-box-shadow: 2px 2px 2px #b8b5b5;
    -ms-box-shadow: 2px 2px 2px #b8b5b5;
    box-shadow: 2px 2px 2px #b8b5b5;
}

    .tweet:hover {
        background-color: #f2f6f8;
        cursor: pointer;
        color: black;
    }

.tweet-text {
    padding: 15px;
    text-align: justify;
    vertical-align: middle;
    outline: none;
    word-wrap: break-word;
}

.tweet-header > div {
    display: inline-block;
}

.tweet-edit {
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

    .tweet-edit:hover {
        color: #ef9368;
    }

.tweetsbox {
    margin-left: 27%;
    padding: 0;
}

ol {
    padding: 0;
    list-style-type: none;
}

.tweetform-outer-container {
    background: rgb(235, 243, 251);
    border: 1px solid #aeaeae;
    border-radius: 4px 4px 0 0;
    padding: 10px 10px 0 10px;
    margin-left: 27%;
    min-height: 132px;
    -webkit-box-shadow: 2px 2px 2px #b8b5b5;
    -ms-box-shadow: 2px 2px 2px #b8b5b5;
    box-shadow: 2px 2px 2px #b8b5b5;
}

.tweetform-inner-container > * {
    display: block;
}

.tweet-textarea {
    width: 86%;
    display: inline-block;
    margin-top: 10px;
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    border-radius: 1px;
    margin: auto;
}

.tweetform-header {
    padding-top: 5px;
    margin-left: 15px;
    color: #8c8da9;
    font-weight: 500;
}

    .tweetform-header:hover {
        color: #5543cd;
        cursor: pointer;
    }

.tweetform > textarea {
    margin: 15px;
}

.post-btn {
    background-color: #7ABDF7;
    margin: 5px 0 5px 0;
    width: 70px;
}

    .post-btn:hover {
        opacity: 0.85;
        color: rgb(38, 36, 34);
    }

.navbar-inverse {
    border-radius: 0;
}

@media screen and (max-width: 990px) {
    .tweetsbox {
        margin-left: 5%;
    }

    .tweetform-outer-container {
        margin-left: 5%;
    }
}
