html, body {
    height: 100%;
}

.tweet {
    border: 1px solid #c7c7cd;
    border-top: none;
    background-color: white;
}

    .tweet:hover {
        opacity: 0.8;
        background-color: #fafafa;
        cursor: pointer;
    }

.tweet-text {
    padding: 15px;
    text-align: justify;
    vertical-align: middle;
    outline: none;
    word-wrap: break-word;
}

.tweet-header > div {
    display: inline-block;
}

.tweet-edit {
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

    .tweet-edit:hover {
        color: #ef9368;
    }

.tweetsbox {
    margin-left: 10%;
}

ol {
    padding: 0;
    list-style-type: none;
}

.tweetform-container {
    background: rgb(243, 249, 242);
    border: 1px solid #aeaeae;
    border-radius: 3px 3px 0 0;
    padding: 10px;
    margin-left: 10%;
    min-height: 132px;
}

.tweet-textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    border-radius: 1px;
}

.tweetform-header {
    padding-top: 5px;
    margin-left: 15px;
    color: #9ca89c;
    font-weight: 500;
}

    .tweetform-header:hover {
        color: #50c050;
        cursor: pointer;
    }

.tweetform > textarea {
    margin: 15px;
}

.post-btn {
    background-color: #8BBD5E;
    margin: 5px;
    float: right;
    width: 70px;
}

    .post-btn:hover {
        opacity: 0.85;
        color: white;
    }

.navbar-inverse {
    border-radius: 0;
}
