/*** Table Styles **/

th {
    background: #e7e7e7;
    font-size: 14px;
    font-weight: 400;
    padding: 7px;
    text-align: left;
    text-shadow: 0 1px 1px #000000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

thead:hover {
    opacity: 0.85;
    color: black;
}

tr {
    color: #666B85;
    font-size: 12px;
    font-weight: normal;
    -ms-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

    tr:hover td {
        background: #f3f4f4;
        opacity: 0.85;
        color: black;
    }

    tr:nth-child(odd) td {
        background: #f5f2f2;
    }

    tr:nth-child(odd):hover td {
        background: #f3f4f4;
        opacity: 0.85;
        color: black;
    }

td {
    background: #FFFFFF;
    padding: 7px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    -ms-text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.08);
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.08);
}

.pagination-my {
    position: fixed;
    left: 50%;
}