@using System.Web.Optimization
@model IList<DemoTwitter.Models.Tweet>
@{
    Layout = null;
}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
@Styles.Render("~/Content/css/index.css")

<div class="tweetsbox col-md-8">
    <ol style="list-style: none">
        @foreach (var tweet in Model)
        {
            <li class="tweet">
                <div class="tweetform-header">@tweet.PostDate</div>
                <div class="tweet-text">@tweet.Text</div>
            </li>
        }
    </ol>
</div>
