@using System.Web.Optimization
@model IList<DemoTwitter.Models.Tweet>
@{
    Layout = null;
}

<div class="tweetsbox col-md-8">
    <ol style="list-style: none" class="center-block">
        @foreach (var tweet in Model)
        {
            <li class="tweet">
                <div class="tweetform-header">@tweet.PostDate</div>
                <div class="tweet-text">@tweet.Text</div>
            </li>
        }
    </ol>
</div>
