@using System.Web.Optimization
@using System.Web.UI.WebControls
@model System.Collections.Generic.IList<DemoTwitter.Models.Tweet>

@{
    Layout = null;
}
@Styles.Render("~/Content/css/bootstrap.css");
<!DOCTYPE html>

<html>
<head>
    <title>Twitter</title>
</head>
<body>
    <div>
        @foreach (var tweet in Model)
        {
            <div class="bg-success col-md-3" style="margin: 10px; border-radius: 3px; border: 1px solid #00008b">
                <p>@tweet.PostDate</p>
                <p>@tweet.Text</p>
            </div>
        }
    </div>
</body>
</html>
