@using System.Web.Optimization
@model DemoTwitter.Models.Tweet

@{
    Layout = null;
}


@Styles.Render("~/Content/css/bootstrap.css")

<!DOCTYPE html>

<html>
<head>
    <title>Twitter</title>
</head>
<body>
    <div>

            </div>
    </div>
    <div>
        <p>What's on your mind...</p>
        {
            @Html.ValidationSummary(true)
            {
                
           
            }
        }
    </div>
</body>
</html>
